<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		
		<div id="app">
			<label for="male">
				<input type="radio" id="male" value="男" v-model="sex" />男
			</label>
			<br>
			<label for="female">
				<input type="radio" id="female" value="女" v-model="sex" />女
			</label>
			<h2>{{sex}}</h2>
		</div>
		
		
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		
		<script>
			
			const app = new Vue({
				el:'#app',
				data: {
					message: 'hallo',
					sex: ''
				}
			})
		</script>
	</body>
</html>
