<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="./style.css"/>
	</head>
	<body>
		
		<div id="app">
			
			<div v-if="books.length">
				
			<table>
				<thead>
					<tr>
						<th></th>
						<th>书籍名称</th>
						<th>出版日期</th>
						<th>价格</th>
						<th>购买数量</th>
						<th>操作</th>
					</tr>
				</thead>
				
				<tbody>
					<tr v-for="B,index in books">
						<td>{{B.id}}</td>
						<td>{{B.name}}</td>
						<td>{{B.data}}</td>
						<td>{{B.price | showPrice}}</td>
						<td>
							<!-- v-bind:disabled = "条件"  当为true时不可继续点击该按钮 -->
							<button @click="decrement(index)" :disabled="B.count <= 0" >-</button>
								{{B.count}}
					  	<button @click="increment(index)">+</button>
						</td>
						<td>
							<button @click="removeHandle(index)">移除</button>
						</td>
					</tr>
				</tbody>
			</table>
			
			
		</div>
			<h2 v-else>购物车为空</h2>
			<h2>总价格：{{totalPrice | showPrice}}</h2>
		</div>
		
		<script src="../js/vue.js"></script>
		<script src="./main.js"></script>
	</body>
</html>
